{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FREELIX</title>

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- Boxicons CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <a href="#" class="logo"><i class="bx bxs-movie"></i> FREELIX</a>

      <ul class="navbar">
        <li><a href="{% url 'login' %}">Home</a></li>

        <li><a href="{% url 'login' %}">Movies</a></li>
        <li><a href="{% url 'login' %}">TV Series</a></li>
        <li><a href="{% url 'login' %}">Newsletter</a></li>
      </ul>
      <a href="{% url 'login' %}" class="btn">MY ACCOUNT</a>
    </header>

    <!-- Home Section with Swiper -->
    <section id="home">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->

          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://4kwallpapers.com/images/wallpapers/ballerina-movie-2560x1080-22626.jpg"
                alt="Ballerina Background"
              />
              <div class="home-text">
                <h1>John Wick: Ballerina</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>
          <!-- Slide 2 -->
          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://images8.alphacoders.com/139/1392357.jpg"
                alt="superman Background"
              />
              <div class="home-text">
                <h1>DC Studios: Superman</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://www.apple.com/tv-pr/shows-and-films/f/f1/images/show-home-graphic-header/key-art-03/4x1/Apple_TV_F1_key_art_graphic_header_4_1_show_home.jpg.og.jpg?1750044337093"
                alt="F1: The Movie Background"
              />
              <div class="home-text">
                <h1>F1: The Movie</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>
          <!-- Slide 4 -->
          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://wallpapers.com/images/hd/grunge-yellow-breaking-bad-poster-bkbu0hjpevu9ouog.jpg"
                alt="Breaking Bad Background"
              />
              <div class="home-text">
                <h1>Breaking Bad</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>
          <!-- Slide 5 -->
          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://wallpapers.com/images/featured/peaky-blinders-mf0te5aaoy07nn99.jpg"
                alt="Peaky blinders Background"
              />
              <div class="home-text">
                <h1>Peaky Blinders</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>
          <!-- Slide 6 -->
          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://w0.peakpx.com/wallpaper/736/769/HD-wallpaper-movie-no-country-for-old-men.jpg"
                alt="No Country For Old Men Background"
              />
              <div class="home-text">
                <h1>No Country For Old Man</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>
          <!-- Slide 7 -->
          <div class="swiper-slide">
            <div class="container">
              <img
                src="https://wallpapers.com/images/featured/how-i-met-your-mother-c5q25citg8k2p38p.jpg"
                alt="how i met your mother Background"
              />
              <div class="home-text">
                <h1>How I Met Your Mother</h1>
                <a href="{% url 'login' %}"
                  ><button class="btn">Watch Now</button></a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Swiper Navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Your Custom JS -->
    <script src="{% static 'assets/main.js' %}"></script>
    <footer>
      <div class="copyright">&#169; 2025 FREELIX. All rights reserved.</div>
    </footer>
  </body>
</html>
