<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Movie Website</title>
    <link rel="stylesheet" href="style.css" />
    <!-- box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <!-- nav bar-->
    <header>
      <a href="#" class="logo"> <i class="bx bxs-movie"></i>Freelix </a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </header>
  </body>
</html>
