<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FREELIX</title>

    <link rel="stylesheet" href="style.css" />
    <!--box icons-->
    <link
      rel="stylesheet" type="text/css" href = "assets/style.css"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <!--navbar-->
    <header>
      <a href="#" class="logo"><i class="bx bxs-movie"></i>
        FREELIX
      </a>
      <div class="bx bx-menu" id="menu-icon"></div>

      <!--Menu-->
      <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#movies">Movies</a></li>
        <li><a href="#tv series">TV Series</a></li>
        <li><a href="#newsletter">Newsletter</a></li>
      </ul>
      <a href="#" c;ass="btn">SIGN IN</a>
    </header>
  </body>
</html>
