{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FREELIX</title>

    <!-- External CSS (Django Static) -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/style.css' %}" />

    <!-- CDN CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <a href="#" class="logo"><i class="bx bxs-movie"></i> FREELIX</a>
      <div class="bx bx-menu" id="menu-icon"></div>

      <!-- Menu -->
      <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#movies">Movies</a></li>
        <li><a href="#tvseries">TV Series</a></li>
        <li><a href="#newsletter">Newsletter</a></li>
      </ul>
      <a href="#" class="btn">SIGN IN</a>
    </header>
  </body>
</html>
